<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znlccy.zcshiro.mapper.UserMapper">

    <!-- 通过用户名精确查找用户 -->
    <select id="findByUsername" parameterType="string" resultType="user">
      SELECT
      id,username,password
      FROM
      tb_user
      WHERE username=#{username}
    </select>

    <!-- 通过主键查找用户 -->
    <select id="findById" parameterType="int" resultType="user">
        SELECT
        id,username,password,perms
        FROM
        tb_user
        WHERE id = #{id}
    </select>
</mapper>